// imports for all styling partials

@import 'partials/variables',
        'partials/base',
        'partials/layout',
        'partials/components',
        'partials/responsiveness';


 h3 {
    border-bottom: 2px solid $pink;
    padding-bottom: 10px;
    width: 85%;
    margin-bottom: 4%;
    text-align: center;
 }

.counters {
    background-color: $pink;
    margin-top: 4%;
    margin-bottom: 2%;
    clear: both;
    height: 270px;
}








