// nav bar styling

#menu {
    margin: 30px;
    padding: 0;
    margin-inline-start: 300px;
    margin-inline-end: 40px;
    margin-top: 0;
    font-family: $font-family3;
    font-size: 12px;
    letter-spacing: 2px;
    position: sticky;
    z-index: 1;
    top: 0;

    a:hover{
        color: $pink;
    }
}

nav {
    position: sticky;
    z-index: 0;
    top: 0;
}

.navLinks {
    float: left;
    margin: 36px 0px 0px 40px;
    padding-left: 25px;
    text-decoration: none;
    color: $navColor;
    // font-family: $font-family3;   
}

// style for search field
#search {
    margin-left: 70px;
    font-size: 10px;
    float: left;
    width: 180px;
    height: 25px;
    margin-top: 29px;
}

#searchBtn {
    height: 25px;
    margin-top: 29px;
}


// buttons styling

.btn {
    width: 200px;
    font-size: 16px;
    height: 32px;
    float: left;
    margin-top: 27px;
    margin-left: 150px;
}

.btn {
    color: $pink;
    height: 32px;
    margin-top: 27px;
    // margin-left: 80px;
}

// start coding btn
.startCoding  {
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: $pink;
    border: none;
    border-radius: 5px;
    margin-left: 615px;
    margin-top: 68px;
    color: white;
    text-decoration: none;
}
// donate btn
.donate {
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: #363636;
    border: none;
    border-radius: 5px;
    margin-left: 6px;
    color: white;
    text-decoration: none;
    margin-top: 68px;
}


// input block
#email {
    width: 200px;
    font-size: 16px;
    height: 32px;
    // float: left;
    margin-top: 27px;
    margin-left: 150px;
}
// submit btn
#submitBtn {
    color: $pink;
    height: 32px;
    margin-top: 27px;
    // margin-left: 80px;
}

// back button (home)
form {
    text-align: center;
}

.btn a {
    width: 100px;
    height: 40px;
    font-size: 14px;
    background-color: #363636;
    border: none;
    border-radius: 5px;
    // margin-left: 280px;
    color: white;
    text-decoration: none;
}