// variables for styling

// font-family
$font-family:'Poppins', sans-serif;
$font-family2: 'Poppins', 400;
$font-family3: 'Poppins', 500i;
$font-family4: 'Poppins', 300;


// colors
$white: white;
$pink: #e38f84;
$navColor: rgb(145, 141, 141);
$blue: rgb(72, 214, 230);